<div id="sidebar">
    <ul>
        <li class="nav-item">
            <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Form") ? "active" : "")"
               asp-area="" asp-controller="Home" asp-action="Form">Форма поселення</a>
        </li>

        <li class="nav-item">
            <a id="index-link" class="nav-link text-dark @((ViewContext.RouteData.Values["Action"] as string == "Documents") ? "active" : "")"
               asp-area="" asp-controller="Home" asp-action="Documents">Список документів</a>
        </li>

    </ul>
</div>
