@model DormitoryManager.Models.DTO_s.Faculty.FacultiesDto

<h4>Створення факультету</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFaculty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <label asp-for="FacultyName" class="control-label">Назва факультету</label>
                <div>
                    @if (@ViewBag.NameError != null) {
                    <span class="text-danger mt-3">@ViewBag.NameError</span>
                }
                </div>
                <input asp-for="FacultyName" class="form-control" />
            </div>
            <div class="form-group">
                
                <label asp-for="FacultyAddress" class="control-label">Адреса факультету</label>
                <div>
                @if (@ViewBag.AddressError != null) {
                    <span class="text-danger mt-3">@ViewBag.AddressError</span>
                    }
                </div>
                <input asp-for="FacultyAddress" class="form-control" />
            </div>
            <div class="form-group" style="margin-top:20px; margin-bottom:20px;">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Faculties">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
