<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Звіти</h3>
                        </div>
                        <div class="card-body">
                            <a asp-action="FreeRoomReports" asp-route-id="0" class="btn"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRWcfGkTD6tfvk6wlJ7DzxxYc88EymMW9dHJonsyGAWg&s" style="max-inline-size:150px"></im><div>Звіт по вільних кімнатах</div></a>
                            <a asp-action="Map"  class="btn"><img src="https://cdn-icons-png.flaticon.com/512/4599/4599477.png" style="max-inline-size:150px"></im><div>Мапа Гуртожитків</div></a>
                            
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>

