@model DormitoryManager.Models.DTO_s.Student.StudentsDto

@{
    ViewData["Title"] = "Форма поселення";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="mb-3">
                    <label asp-for="StudentName" class="form-label">Ім'я</label>
                    <input asp-for="StudentName" class="form-control" placeholder="Володимир">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentLastname" class="form-label">Прізвище</label>
                    <input asp-for="StudentLastname" class="form-control" placeholder="Дросенко">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentMiddlename" class="form-label">По-батькові</label>
                    <input asp-for="StudentMiddlename" class="form-control" placeholder="Ігорович">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentPhone" class="form-label">Номер телефону</label>
                    <input asp-for="StudentPhone" class="form-control" placeholder="0935154698">
                </div>

                <div class="mb-3">
                    <label asp-for="DateOfBirth">Дата народження:</label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" required>
                </div>

                <div class="mb-3">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" class="form-control" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="StudentEmail" class="form-label">Електрона пошта</label>
                    <input asp-for="StudentEmail" class="form-control" placeholder="vovadrosenko@gmail.com">
                </div>

                <div class="mb-3">
                    <label for="faculty">Faculty:</label>
                    <select name="faculty" id="faculty" class="form-control">
                        @foreach (var faculty in ViewBag.Faculties)
                        {
                            <option value="@faculty">@faculty.FacultyName</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Wishes">Побажання:</label>
                    <textarea asp-for="Wishes" class="form-control" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label asp-for="Photo">Фото формату 3x4:</label>
                    <input asp-for="Photo" class="form-control" type="file" accept="image/*" required>
                </div>

                <div class="mb-3">
                    <label asp-for="ApplicationScan">Скан заяви на поселення:</label>
                    <input asp-for="ApplicationScan" class="form-control" type="file" accept=".pdf,.jpg,.jpeg,.png" required>
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </div>
            </div>
        </div>
    </form>
</div>
