@model DormitoryManager.Models.DTO_s.Student.CreateStudentDto

@{
    ViewData["Title"] = "Форма поселення";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="mb-3">
                    <label asp-for="StudentName" class="form-label">Ім'я</label>
                    <input asp-for="StudentName" class="form-control" placeholder="Введіть ім'я">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentLastname" class="form-label">Прізвище</label>
                    <input asp-for="StudentLastname" class="form-control" placeholder="Введіть прізвище">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentMiddlename" class="form-label">По-батькові</label>
                    <input asp-for="StudentMiddlename" class="form-control" placeholder="Введіть по-батькові">
                </div>

                <div class="mb-3">
                    <label asp-for="StudentPhone" class="form-label">Номер телефону</label>
                    <input asp-for="StudentPhone" class="form-control" placeholder="Введіть номер телефону">
                </div>

                <div class="mb-3">
                    <label asp-for="DateOfBirth">Дата народження:</label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" required>
                </div>

                <div class="mb-3">
                    <label asp-for="Gender">Стать:</label>
                    <select asp-for="Gender" class="form-control" id="gender">
                        <option value="Чоловіча">Чоловік</option>
                        <option value="Жіноча">Жінка</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="StudentEmail" class="form-label">Електронна пошта</label>
                    <input asp-for="StudentEmail" class="form-control" placeholder="Введіть електронну пошту">
                </div>

                <div class="mb-3">
                    <label asp-for="FacultyId">Факультет:</label>
                    <select asp-for="FacultyId" id="FacultyId" class="form-control">
                        @foreach (var faculty in ViewBag.Faculties)
                        {
                            <option value="@faculty.Id">@faculty.FacultyName</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Photo">Фото (формат 3x4):</label>
                    <input asp-for="Photo" class="form-control" type="file" accept="image/*" required>
                </div>

                <div class="mb-3">
                    <label asp-for="ApplicationScan">Скан заяви на поселення:</label>
                    <input asp-for="ApplicationScan" class="form-control" type="file" accept="image/*" required>
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </div>

            </div>
        </div>
    </form>
</div>
